<a href="https://colab.research.google.com/github/ranipuja235/pujarani-sethy_2001206021_aiml/blob/main/24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=1234
reversed_num=0
while num !=0:
  digit=num % 10
  reversed_num=reversed_num *10 + digit
  num //=10
print("reversed number :  " + str(reversed_num))

reversed number :  4321

#using Bitwise operator

In [ ]:
def add(x,y):
  while (y != 0):
   carry=x & y
   x=x^y
   y=carry << 1
  return x
print(add(27,5))

32

#using if statement whether number is even or not

In [ ]:
num=int(input("enter the number"))
if num % 2==0:
  print("number is even")

enter the number10
number is even

#using if-else statement whether a number is even or not

In [ ]:
num=int(input("enter any number to text whether it is odd or even:"))
if(num % 2)==0:
  print("the number is even")
else:
  print("the provided number is odd")

enter any number to text whether it is odd or even:232
the number is even

#using nested if find biggest of three numbers

In [ ]:
a=5
b=10
c=15
if a>b:
  if a>c:
    print("a value is big")
  else:
    print("c value is big")
elif b>c:
  print("b value is big")
else:
  print("c is big")

c is big

# #input radius finds AREA OF CIRCLE and PERIMETER OF TE CIRCLE

In [ ]:
pi=3.14
r=float(input("Enter radius of the circle:"))
area=(pi*r*r)
perimeter=(2*pi*r)
print("the area of circle is area",area)
print("the perimeter of circle is",perimeter)

Enter radius of the circle:3
the area of circle is area 28.259999999999998
the perimeter of circle is 18.84

#input kilometer converts to centimeter,meter,and millimeter.

In [ ]:
kilometers=float(input("please enter the kilometers="))
meter=kilometers*1000
centimeter=kilometers*10000
millimeter=kilometers*1000000
print("%.2f kilometers=%.2f meters"%(kilometers,meter))
print("%.2f kilometers=%.2f centimeters"%(kilometers,centimeter))
print("%.2f kilometers=%.2f millimeters"%(kilometers,millimeter))

please enter the kilometers=4.5
4.50 kilometers=4500.00 meters
4.50 kilometers=45000.00 centimeters
4.50 kilometers=4500000.00 millimeters

# input two numbers find remainder without '%'.

In [ ]:
def reminder(num,d):
  if num==0:
    return 0
  elif d==0:
    return -1
  while num>=d:
    num=num-d
  return num
print(reminder(15,2))

1

#input temperature find celsius to fahrenheit.
fahrenheit=(celsius*9/5)+32

In [ ]:
celsius =float(input("enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print('%.2f celsius is:%0.2f fahrenheit'%(celsius,fahrenheit))

enter temperature in celsius:37
37.00 celsius is:98.60 fahrenheit

# input temperature find fahrenheit to celsius.
celsius=(fahrenheit-32)*5/9

In [ ]:
fahrenheit=float(input("enter temperature in fahrenheit:"))
celsius=(fahrenheit-32)*5/9
print('%.2f fahrenheit is:%0.2f celsius'%(fahrenheit,celsius))

enter temperature in fahrenheit:99
99.00 fahrenheit is:37.22 celsius

# input a number finds reverse number without looping structure

In [ ]:
num=97402
num_string=str(num)
size=len(num_string)
reversed_num=num_string[size::-1]
print("reversed number is:"+reversed_num)

reversed number is:20479

In [ ]:
#write a program to reverse an integer in python using if
num = int(input("Enter the number: "))  
revr_num = 0      
def recur_reverse(num):  
    global revr_num  
    if (num > 0):  
        Reminder = num % 10  
        revr_num = (revr_num * 10) + Reminder  
        recur_reverse(num // 10)  
    return revr_num  
revr_num = recur_reverse(num)  
print("entered the reverse number is = %d" % revr_num)

Enter the number: 3456
entered the reverse number is = 6543

In [ ]:
#using while loop
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
#program to number pyramid
rows=int(input("enter the rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end=" ")
  print()

enter the rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
rows=int(input("enter the rows"))
for i in range(rows, 0, -1):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

enter the rows5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
rows=int(input("enter number of rows"))
for i in range(0,rows-1):
  for j in range(i):
    print(i,end=" ")
  print()

for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(i, end=" ")
  print()

enter number of rows5

1
2 2
3 3 3
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [38]:
rows=int(input("enter the rows"))
for i in range(rows):
  for j in range(i+1):
    print(rows-j,end=" ")
  print()

enter the rows5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [28]:
rows =int(input("enter the rows"))
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

enter the rows6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [30]:
rows =int(input("enter the rows"))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

enter the rows5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [40]:
rows =int(input("enter the rows"))
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print("")

enter the rows5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [42]:
rows = int(input("Enter the rows: "))

for i in range(1,rows+1):
    for j in range(1, i+1):
        print(j%2, end="")
    print()

Enter the rows: 5
1
10
101
1010
10101

In [44]:
#1,2,3..........n using for loop
n=int(input("enter n ="))
for i in range(n):
  print(i+1,end=' , ')

enter n =10
1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ,

In [46]:
n=int(input("enter n ="))
i=0
while i<=n:
  print(i+1,end=' , ')
  i=i+1

enter n =10
1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 ,