<a href="https://colab.research.google.com/github/ranipuja235/pujarani-sethy_2001206021_aiml/blob/main/24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=1234
reversed_num=0
while num !=0:
  digit=num % 10
  reversed_num=reversed_num *10 + digit
  num //=10
print("reversed number :  " + str(reversed_num))

reversed number :  4321

#using Bitwise operator

In [ ]:
def add(x,y):
  while (y != 0):
   carry=x & y
   x=x^y
   y=carry << 1
  return x
print(add(27,5))

32

#using if statement whether number is even or not

In [ ]:
num=int(input("enter the number"))
if num % 2==0:
  print("number is even")

enter the number10
number is even

#using if-else statement whether a number is even or not

In [ ]:
num=int(input("enter any number to text whether it is odd or even:"))
if(num % 2)==0:
  print("the number is even")
else:
  print("the provided number is odd")

enter any number to text whether it is odd or even:232
the number is even

#using nested if find biggest of three numbers

In [ ]:
a=5
b=10
c=15
if a>b:
  if a>c:
    print("a value is big")
  else:
    print("c value is big")
elif b>c:
  print("b value is big")
else:
  print("c is big")

c is big

# #input radius finds AREA OF CIRCLE and PERIMETER OF TE CIRCLE

In [ ]:
pi=3.14
r=float(input("Enter radius of the circle:"))
area=(pi*r*r)
perimeter=(2*pi*r)
print("the area of circle is area",area)
print("the perimeter of circle is",perimeter)

Enter radius of the circle:3
the area of circle is area 28.259999999999998
the perimeter of circle is 18.84

#input kilometer converts to centimeter,meter,and millimeter.

In [ ]:
kilometers=float(input("please enter the kilometers="))
meter=kilometers*1000
centimeter=kilometers*10000
millimeter=kilometers*1000000
print("%.2f kilometers=%.2f meters"%(kilometers,meter))
print("%.2f kilometers=%.2f centimeters"%(kilometers,centimeter))
print("%.2f kilometers=%.2f millimeters"%(kilometers,millimeter))

please enter the kilometers=4.5
4.50 kilometers=4500.00 meters
4.50 kilometers=45000.00 centimeters
4.50 kilometers=4500000.00 millimeters

# input two numbers find remainder without '%'.

In [ ]:
def reminder(num,d):
  if num==0:
    return 0
  elif d==0:
    return -1
  while num>=d:
    num=num-d
  return num
print(reminder(15,2))

1

#input temperature find celsius to fahrenheit.
fahrenheit=(celsius*9/5)+32

In [ ]:
celsius =float(input("enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print('%.2f celsius is:%0.2f fahrenheit'%(celsius,fahrenheit))

enter temperature in celsius:37
37.00 celsius is:98.60 fahrenheit

# input temperature find fahrenheit to celsius.
celsius=(fahrenheit-32)*5/9

In [ ]:
fahrenheit=float(input("enter temperature in fahrenheit:"))
celsius=(fahrenheit-32)*5/9
print('%.2f fahrenheit is:%0.2f celsius'%(fahrenheit,celsius))

enter temperature in fahrenheit:99
99.00 fahrenheit is:37.22 celsius

# input a number finds reverse number without looping structure

In [ ]:
num=97402
num_string=str(num)
size=len(num_string)
reversed_num=num_string[size::-1]
print("reversed number is:"+reversed_num)

reversed number is:20479

In [ ]:
#write a program to reverse an integer in python using if
num = int(input("Enter the number: "))  
revr_num = 0      
def recur_reverse(num):  
    global revr_num  
    if (num > 0):  
        Reminder = num % 10  
        revr_num = (revr_num * 10) + Reminder  
        recur_reverse(num // 10)  
    return revr_num  
revr_num = recur_reverse(num)  
print("entered the reverse number is = %d" % revr_num)

Enter the number: 3456
entered the reverse number is = 6543

In [ ]:
#using while loop
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [9]:
#using armstrong number
num=int(input("enter the number"))
sum=0
num1=num
while(num>0):
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
if sum == num:
  print("given number is armstrong")
else:
  print("given number is not armstrong")

enter the number153
given number is not armstrong

In [13]:
#check given number is prime or not
num=int(input("enter the number"))
if num>1:
  for i in range (2,num):
    if(num % i)==0:
      print(num,"is not a prime number ")
      break
  else:
    print(num,"it is a prime number")
else:
    print(num,"it is not a prime number")

enter the number65
65 is not a prime number

In [14]:
#fibonnaci series using itterative mathod
first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 5
fibonacci series are :
0
1
1
2
3

In [16]:
#fibonnaci series using recursive  ethod
def recur_fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recur_fibo(n-1) + recur_fibo(n-2))  
nterms = int(input("enter the number"))   
if nterms <= 0:  
   print("Plese enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(recur_fibo(i))

enter the number10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [18]:
#find palindrom or not using iterative mathod
num=int(input("enter the number"))
sum=0
num1=num
while(num>0):
  rem=num %10
  sum=sum*10+rem
  num=num//10
if(sum==num):
  print("the number is palidrom")
else:
  print("the number is not palidrome")

enter the number1331
the number is not palidrome

In [21]:
#find palindrome using recursive method
def is_palindrome(s):
    if len(s) < 1:
        return True
    else:
        if s[0] == s[-1]:
            return is_palindrome(s[1:-1])
        else:
            return False
a=str(input("Enter string:"))
if(is_palindrome(a)==True):
    print("it is a palindrome!")
else:
    print("it is not a palindrome!")

Enter string:46788
it is not a palindrome!

In [22]:
#lagest between three number
a = int(input('Enter first number  : '))
b = int(input('Enter second number : '))
c = int(input('Enter third number  : '))
largest = 0
if a > b and a > c :
    largest = a
elif b > c :
    largest = b
else :
    largest = c
print(largest, "is the largest of three numbers.")

Enter first number  : 45
Enter second number : 32
Enter third number  : 25
45 is the largest of three numbers.

In [25]:
#finf the given number is binary or not
string1=str(input("enter the 1st number"))
b = {'0','1'}
t = set(string1)
if b == t or t == {'0'} or t == {'1'}:
  print("String1 is a binary string.")
else:
  print("String1 is not a binary string.")
string2 =str(input("enter the 2nd number"))
u = set(string2)
if b == u or u == {'0'} or u == {'1'}:
  print("String2 is a binary string.")
else:
  print("String2 is not a binary string.")

enter the 1st number01011100
String1 is a binary string.
enter the 2nd number32170
String2 is not a binary string.

In [28]:
#find sum of indivisual digits
num=int(input("enter the number"))
sum=0
num1=num
while(num>0):
 rem=num% 10
 sum=sum+rem
 num=num//10
print("sum of digits of the number",num1,'=',sum)

enter the number4588
sum of digits of the number 4588 = 25

In [30]:
#swap two numbers without using third variable
x = int(input("Enter the value of x"))  
y = int(input("Enter the value of y"))  
print("before swapping numbers: %d   %d\n" %(x,y))  
x = x + y     
y = x - y    
x = x - y     
print("After swapping: %d   %d\n"%(x,y))

Enter the value of x45
Enter the value of y34
before swapping numbers: 45   34

After swapping: 34   45

In [31]:
#swap two numbers usinf third variables
num1 = input('Enter value of first number (num1): ')
num2 = input('Enter value of second number (num2): ')
temp = num1
num1 = num2
num2 = temp
print('The value of num1 after swapping: {}'.format(num1))
print('The value of num2 after swapping: {}'.format(num2))

Enter value of first number (num1): 23
Enter value of second number (num2): 24
The value of num1 after swapping: 24
The value of num2 after swapping: 23

In [34]:
#find prime factor of the given integer
n=int(input("Enter an integer:"))
print("Factors are:")
i=1
while(i<=n):
    k=0
    if(n%i==0):
        j=1
        while(j<=i):
            if(i%j==0):
                k=k+1
            j=j+1
        if(k==2):
            print(i)
    i=i+1

Enter an integer:200
Factors are:
2
5

In [35]:
#add two number without using arithmetic operator
def Add(x, y):
    while (y != 0):
        carry = x & y 
        x = x ^ y
        y = carry << 1
    return x
print(Add(27,5))

32

In [39]:
#find given number is perfect or not
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 6
The number is a Perfect number!

In [2]:
#program to number pyramid
rows=int(input("enter the rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end=" ")
  print()

enter the rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
rows=int(input("enter the rows"))
for i in range(rows, 0, -1):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

enter the rows5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
rows=int(input("enter number of rows"))
for i in range(0,rows-1):
  for j in range(i):
    print(i,end=" ")
  print()

for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(i, end=" ")
  print()

enter number of rows5

1
2 2
3 3 3
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
rows=int(input("enter the rows"))
for i in range(rows):
  for j in range(i+1):
    print(rows-j,end=" ")
  print()

enter the rows5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
rows =int(input("enter the rows"))
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

enter the rows6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
rows =int(input("enter the rows"))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

enter the rows5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows =int(input("enter the rows"))
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print("")

enter the rows5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows = int(input("Enter the rows: "))

for i in range(1,rows+1):
    for j in range(1, i+1):
        print(j%2, end="")
    print()

Enter the rows: 5
1
10
101
1010
10101

In [ ]:
#1,2,3..........n using for loop
n=int(input("enter n ="))
for i in range(n):
  print(i+1,end=' , ')

enter n =10
1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ,

In [ ]:
n=int(input("enter n ="))
i=0
while i<=n:
  print(i+1,end=' , ')
  i=i+1

enter n =10
1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 ,